{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Ativo</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-100 text-gray-800">
    <h1 class="text-4xl font-bold underline text-center mb-6 mt-5">Adicionar Ativo</h1>
    <form method="post" class="max-w-3xl mx-auto mt-10 p-6 bg-white rounded shadow-md">
        {% csrf_token %}
        
        <label class="block text-base font-bold mb-2 mt-5" for="{{ form.nome.id_for_label }}">Nome:</label>
        {{ form.nome }}
        
        <label class="block text-base font-bold mb-2 mt-5" for="{{ form.valor.id_for_label }}">Valor:</label>
        {{ form.valor }}

        <label class="block text-base font-bold mb-2 mt-5" for="{{ form.circulante.id_for_label }}">Circulante:</label>
        {{ form.circulante }}

        <button type="submit" class="mt-4 w-full bg-purple-500 text-white font-bold px-4 py-2 rounded hover:bg-purple-700">Adicionar</button>
        <a href="{% url 'balanco' %}" class="mt-4 inline-block text-center w-full bg-cyan-500 text-white font-bold px-4 py-2 rounded hover:bg-cyan-700">Voltar ao Balanço</a>
    </form>
    <br>
</body>
</html>